* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
     
}
/* Background */
#lucht {
    height: 50vh;
    background: #1e5799;
    background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
    background: -webkit-linear-gradient(top, #1e5799 0%,#7db9e8 100%);
    background: linear-gradient(to bottom, #1e5799 0%,#7db9e8 100%);
}

#grass {
    height: 50vh;
    background: #24b524;
    background: -moz-linear-gradient(top, #24b524 1%, #0a7722 100%);
    background: -webkit-linear-gradient(top, #24b524 1%,#0a7722 100%);
    background: linear-gradient(to bottom, #24b524 1%,#0a7722 100%);
}
/* Zon */
.sun { 
    position: absolute;
    top:10px;
    left:0;
    right:0;
    bottom:400px;
    margin: auto;  
    width:70px;
    height:70px;
    border-radius:50%;  
    background:white;
    opacity:0.9;            
    box-shadow: 0px 0px 40px 15px white;  
}

.ray_box {
    position: absolute;
    margin: auto;
    top:0px;
    left:0;
    right:0;
    bottom:0;   
    width:70px;  
    -webkit-animation: ray_anim 120s linear infinite;
    animation: ray_anim 120s linear infinite;
}
.ray {  
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
    background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%); 
    margin-left:10px;
    border-radius:80% 80% 0 0;
    position:absolute;
    opacity:0.1;
}

.ray1 {    
    height:170px;
    width:30px;
    -webkit-transform: rotate(180deg);
    top:-175px;
    left: 15px;
}
.ray2 {
    height:100px;
    width:8px;
    -webkit-transform: rotate(220deg);
    top:-90px;
    left: 75px;
}
.ray3 {
    height:170px;
    width:50px;
    -webkit-transform: rotate(250deg);
    top:-80px;
    left: 100px;
}
.ray4 {
    height:120px;
    width:14px;
    -webkit-transform: rotate(305deg);
    top:30px;
    left: 100px;
}
.ray5 {
    height:140px;
    width:30px;
    -webkit-transform: rotate(-15deg);
    top:60px;
    left: 40px;
}
.ray6 {
    height:90px;
    width:50px;
    -webkit-transform: rotate(30deg);
    top:60px;
    left: -40px;
}
.ray7 {
    height:180px;
    width:10px;
    -webkit-transform: rotate(70deg);
    top:-35px;
    left: -40px;
}
.ray8 {
    height:120px;
    width:30px;
    -webkit-transform: rotate(100deg);
    top:-45px;
    left:-90px;
}
.ray9 {
    height:80px;
    width:10px;
    -webkit-transform: rotate(120deg);
    top:-65px;
    left:-60px;
}
.ray10 {
    height:190px;
    width:23px;
    -webkit-transform: rotate(150deg);
    top:-185px;
    left: -60px;
}

.sun {
  animation: MoveUpDown 10s;
  position: absolute;
  top: -100px;
}

@keyframes MoveUpDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 400px;
  }
  100% {
    bottom: 400px;
  }
}

@-webkit-keyframes ray_anim { 
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}    
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

}
/* Wolken */
#clouds{
    padding: 100px 0;
    background: #c9dbe9;
    background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
    background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

/*Time to finalise the cloud shape*/
.cloud {
    width: 200px; height: 60px;
    background: #fff;
    
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    
    position: relative; 
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute; 
    background: #fff;
    width: 100px; height: 80px;
    position: absolute; top: -15px; left: 10px;
    
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px; height: 120px;
    top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
    -webkit-animation: moveclouds 10s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
    left: 200px;
    
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6; /*opacity proportional to the size*/
    
    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    -webkit-animation: moveclouds 16s linear infinite;
}

.x3 {
    left: -250px; top: -200px;
    
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/
    
    -webkit-animation: moveclouds 17s linear infinite;
}

.x4 {
    left: 470px; top: -250px;
    
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75; /*opacity proportional to the size*/
    
    -webkit-animation: moveclouds 18s linear infinite;
}

.x5 {
    left: -150px; top: -190px;
    
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/
    
    -webkit-animation: moveclouds 19s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
/* Truck */
.truck {
    position: relative;
    height: 250px;
    width: 500px;
    transition: all 1s ease-in-out;
    top: -250px;
    z-index: 100;
}
.truck div {
    position: absolute;
}
    .truck-body {
    width: 60%;
    height: 60%;
    left: 2%;
    background-color: #C9C9C9;
}
.truck .truck-front {
    top: 5%;
    right: 12%;
    width: 25%;
    height: 55%;
   
    background-color: transparent;
}
.truck-cabin {
    width: 75%;
    height: 100%;
    border-top-right-radius: 23px 50px;
    background-color: #C9C9C9;
}
.truck-engine {
    width: 30%;
    height: 62%;
    bottom: 0;
    right: 0;
    border-top-right-radius: 7px 60px;
    background-color: #C9C9C9;
}
.truck .truck-wheel {
    top: 45%;
    background-color: #000;
    background: radial-gradient(ellipse at center, #000 0%, #333 61%,#000 91%,#333 100%);
    border: 4px solid #fff;
    width: 75px;
    height: 75px;
    border-radius: 60px;
}
.truck .truck-wheel-inner {
    top: 20%;
    left: 20%;
    background-color: #28343b;
    background: radial-gradient(ellipse at center, #e8f1ff 0%,#949ea8 36%,#28343b 100%);
    width: 60%;
    height: 60%;
    border-radius: 100%;
}
.truck-wheel.front {
    left: 68%;
}
.truck-wheel.rear {
    left: 12%;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.blink {
  animation: blinker 1s linear infinite;
  height: 10%;
  width: 10%;
  background-color: red;
  z-index: 200;
}

#light1 {
    margin-left: 88%;
    margin-top: 60%;
    border-radius: 100%

}
#light2 {
    margin-left: 88%;
    margin-top: 80%;
    height: 10px;
    width: 15px;
}

#light3{
    margin-left: 10px;
    margin-top: 120px;
    height: 7px;
    width: 20px;
}
#light4{
    margin-left: 10px;
    margin-top: 110px;
    height: 7px;
    width: 20px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.glass{
    margin-left: 10px; 
    margin-top: 10px;
    
    width: 70px;
    height: 50px;
    z-index: 200;
    background-color: green;
    border-radius: 100%;
}

.boi-neck {
    margin-top: 6px;
    margin-left: 27px;
    height: 40px;
    width: 7px;
    background-color: #E0AC69;
    z-index: 210;
}

.boi-head {
    margin-top: 4px;
    margin-left: 22px;
    height: 20px;
    width: 20px;
    background-color: #E0AC69;
    border-radius: 100%;
    z-index: 211;
}

.boi-bady {
    width: 20px;
    height: 20px;
    background-color: black;
    margin-left: 20px;
    margin-top: 29px;
    z-index: 215;
    border-radius: 35%;
}
/* Snelweg */

.outerroad {
    z-index: 1;
    margin-top: -305px;
    bottom: 0px;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, #4a483d 0%, #4c4f48 30%);
}

.stip {
    bottom: 0px;
    margin-bottom: 1%;
    width: 200%;
    height: 10%;
    background: repeating-linear-gradient(90deg, white 0%, white 10%, transparent 10%, transparent 20%);
    animation: anim40 linear 4s;
    animation-iteration-count: infinite;
}

@keyframes anim40 {
  0% {transform: translate(0px, 0px);}
  100% {transform: translate(-40%, 0px);}
}

/* Stoplicht */
.stoplicht {
    margin-top: -35.8%;
    margin-left: 80%;
}

.stoplicht-body {
    background-color: red;
    width: 35px;
    height: 300px;
    margin-left: 22px;
    background-color: black;
}

.stoplicht-feet {
    background-color: red;
    width: 15px;
    height: 20px;
    background-color: gray;
    margin-left: 33px;
}

.truck-wheel {
    top: 45%;
    background-color: #000;
    background: radial-gradient(ellipse at center, #000 0%, #333 61%,#000 91%,#333 100%);
    border: 4px solid #000;
    width: 75px;
    height: 75px;
    border-radius: 60px;
}

.truck-wheel-innerr {
    margin-top: 20%;
    margin-left: 20%;
    background-color: #28343b;
    background: radial-gradient(ellipse at center, #e8f1ff 0%,#949ea8 36%,#28343b 100%);
    width: 60%;
    height: 60%;
    border-radius: 100%;
}

.stoplicht-licht1 {
    width: 10px;
    height: 35px;
    background-color: #000000;
    margin-left: -5px;
    border-radius: 100%;
}

.stoplicht-licht2 {
    width: 10px;
    height: 35px;
    background-color: #000000;
    margin-left: -5px;
    border-radius: 100%;
}

.stoplicht-licht3 {
    width: 10px;
    height: 35px;
    background-color: #000000;
    margin-left: -5px;
    border-radius: 100%;
}

.knop {
    width: 5px;
    height: 15px;
    background-color: gold;
    margin-left: -2px;
    margin-top: 80px;
    border-radius: 100%;
}

.stop-dak {
    width: 25px;
    height: 10px;
    background-color: black;
    margin-left: -15px;
    border-radius: 35%;
}
/* Helicopter */
@import "compass/css3";

@keyframes spin {
  from {
    transform:rotateY(0deg);
  }

  to {
     transform:rotateY(-360deg);
  }
}

@keyframes tailblade {
  from {
    transform:rotate3d(0,0,1,0deg);
  }

  to {
     transform:rotate3d(0,0,1,-360deg);
  }
}
@keyframes float {
  from {
    transform:translateY(220px) rotate3d(0,0,1,3deg);
  }

  to {
     transform:translateY(0px) rotate3d(0,0,1,0deg);
  }
}

.helicopter_wrapper{
    position:absolute;
    top:100px;
    left:1100px;
}

.helicopter {
    position:relative;
    animation-duration: 2s;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    animation-direction: alternate;
    animation-play-state: running;
}

.blade {
    position:absolute;
    top:0px;
    left:31px;
    animation-duration: 0.2s;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-play-state: running;
}
.tailblade{
    width:3px;
    height:7px;
    background-color: black;
    position:absolute;
    top:9px;
    left:10px;
    transform-origin:50% 100%;
    animation-duration: .1s;
    animation-name: tailblade;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-play-state: running;
}

/*Garage*/

#garage {
    position: absolute;
    bottom: 0px;
    right: 10005px;
    -webkit-animation: moveToLeft 4s linear infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes moveToLeft {
    from {left: 200%;}
    to {left: 0%;}
}

@keyframes moveToLeft {
    from {left: 200%;}
    to {left: 0%;}
}

.garage1 {
    width: 710px;
    height: 510px;
    background: #000000;
    position: absolute;
    bottom: 55px;
    right: 145px;
}

.garage2 {
    width: 640px;
    height: 440px;
    position: absolute;
    bottom: 60px;
    right: 180px;
    background: #FFFFFF;
}

.garageschaduw1 {
    height: 145px;
    border-bottom: 150px solid #cec9c4;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    bottom: 60px;
    position: absolute;
    right: 180px;
    width: 540px;
}

.garageschaduw2 {
    width: 50px;
    height: 290px;
    background: #ddd9d4;
    position: absolute;
    bottom: 210px;
    right: 180px;
}

.garageschaduw3 {
    width: 50px;
    height: 290px;
    background: #ddd9d4;
    position: absolute;
    bottom: 210px;
    right: 770px;
}

.garageschaduw4 {
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 60px;
    right: 770px;
    border-top: 150px solid #ddd9d4;
    border-right: 50px solid transparent;
}

.garageschaduw5 {
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 60px;
    right: 180px;
    border-top: 150px solid #ddd9d4;
    border-left: 50px solid transparent;
}